<div class="flex flex-col sm:flex-row  gap-4 bg-white p-4 rounded-lg shadow">

  <!-- Left: checkbox + image -->
  <div class="flex items-center md:items-start justify-center gap-3">
    <input
      *ngIf="mode === 'cart'"
      type="checkbox"
      class="mt-2"
      [checked]="selected"
      (change)="toggleSelect.emit()"
    />

    <img
      alt="name"
      [src]="imageUrl"
      class="w-24 h-32 sm:w-24 sm:h-24 object-contain"
    />
    <span *ngIf="stockStatus"
  class="inline-block sm:hidden px-3 py-1 rounded-xl text-white text-xs font-medium w-fit"
  [ngClass]="{
    'bg-green-500': stockStatus === 'IN_STOCK',
    'bg-red-500': stockStatus !== 'IN_STOCK'
  }">
  {{ stockStatus }}
</span>

  </div>

  <!-- Right: content -->
  <div class="flex-1 flex flex-col gap-2">

    <!-- category -->
    <p class="text-xs text-gray-700">
      {{ category }} > {{ brand }}
    </p>

    <!-- title + stock -->
    <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-1">
      <h3 class="font-semibold text-sm sm:text-base">
        {{ name }}
        <span class="text-red-500 text-xs sm:text-sm">
          {{ discountPercent }}% OFF
        </span>
      </h3>

      <span *ngIf="stockStatus"
        class="hidden sm:inline-block px-3 py-1 rounded-xl text-white text-xs sm:text-sm font-medium w-fit "
        [ngClass]="{
          'bg-green-500': stockStatus === 'IN_STOCK',
          'bg-red-500': stockStatus !== 'IN_STOCK'
        }">
        {{ stockStatus }}
      </span>
    </div>

    <!-- price -->
    <div class="flex items-center gap-2">
      <p *ngIf="oldPrice"
         class="text-xs sm:text-sm text-gray-400 line-through">
        Rs. {{ oldPrice }}
      </p>

      <p class="text-lg sm:text-xl font-bold text-primary">
        Rs. {{ price }}
      </p>
    </div>

    <!-- actions -->
    <div class="flex items-center gap-3 mt-2 flex-wrap">

      <!-- qty buttons -->
      <div *ngIf="mode === 'cart'" class="flex items-center gap-2">
        <button (click)="decreaseQty()"
                [disabled]="qty <= 1"
                class="px-2 sm:px-3 py-1 border rounded">
          <mat-icon class="text-base">remove</mat-icon>
        </button>

        <span class="min-w-[24px] text-center">{{ qty }}</span>

        <button (click)="increaseQty()"
                class="px-2 sm:px-3 py-1 border rounded">
          <mat-icon class="text-base">add</mat-icon>
        </button>
      </div>

      <!-- remove -->
      <button *ngIf="mode === 'cart'"
              (click)="onRemove()"
              class="ml-auto text-red-500">
        <mat-icon>delete_outline</mat-icon>
      </button>

    </div>
  </div>
</div>
